body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0;
  width: 30%;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
.junior-developer {
  font-weight: normal;
  line-height: 200%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dashed;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 8%;
  margin: 100px auto;
  border-bottom: none;
}

a {
  color: #11999E;
}

div {

}

.top-container {
   background-color: #cff2f4;
   padding-top: 60px;
   margin: 0px 0px 0px 0px;
   position: relative;
 }

 .top-cloud {
   position: absolute;
   right: 300px;
   bottom: 450px;
 }
 .bottom-cloud {
   position: absolute;
   margin: auto auto auto 40px;
 }

.middle-container {
  background-color: ##d0eff0;
}

.bottom-container {
  background-color: #25ced5;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.underlined {
  text-decoration: underline;
}
.contact-me {
  margin-bottom: 5%;
}
.skill-row {
  position: relative;
  margin: 100px auto 100px;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.skill-image1 {
  width: 25%;
  float: left;
  margin-right: 5%;
}
.skill-image2 {
  width: 25%;
  float: right;
  margin-left: 5%;
}
.btn {
  margin: 50px;
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999D);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999D);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999D);
  background-image: -o-linear-gradient(top, #11CDD4, #11999D);
  background-image: linear-gradient(to bottom, #11CDD4, #11999D);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #30E3CD;
  background-image: -webkit-linear-gradient(top, #30E3CD, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CD, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CD, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CD, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CD, #2BC4AD);
  text-decoration: none;
}
.photo {
  margin-top: 20px;
}
.footer-link {
  display: inline;
  margin: 10px;
  color: #cff2f4;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
  color: #edebeb;
}

.copyright {
  color: #edebeb;
  font-weight: bold;
  font-size: 14px;
}

.intro {
  width: 50%;
  margin: auto;
  line-height: 1.5;
}
